.MovieCard {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  box-shadow: 8px 8px 8px #eaeaea;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  height: 350px;
  overflow: hidden;
  width: 160px;
}

.movie-poster {
  border-bottom: 1px solid #e1e1e1;
  height: 240px;
}

.movie-details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  gap: 16px;
  height: 110px;
  padding: 8px 8px 16px;
  width: 100%;
}

.movie-title {
  font-weight: 700;
  line-height: 125%;
  overflow: hidden;
}

.movie-rating {
  color: black;
  font-size: 12px;
}

@media (max-width: 600px) {
  .MovieCard {
    height: 400px;
    width: 220px;
  }

  .movie-details {
    flex-direction: row;
    height: 120px;
    padding: 8px;
  }

  .movie-poster {
    height: 330px;
  }
}

@media (max-width: 450px) {
}
