body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: white;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #721694;
  color: white;
}

h1 {
  font-size: 56px;
  margin: 16px 0px;
}

h2 {
  margin-block-end: 0.5rem;
}
